# Python_Tuples_Exercise

In [1]:
#Q1 Create myTuple tuple with the follwoing values ("NPower","JDA","Tuesday",30,31,2021)
myTuple = ("NPower","JDA","Tuesday",30,31,2021)
type(myTuple)

tuple

In [2]:
#Q2 What is the type of myTuple
print(type(type(myTuple)))

<class 'type'>

In [3]:
#Q3 What is the length of myTuple
len(myTuple)

6

In [4]:
#Q4 print the values in each index #Use regular indexing
print(myTuple[0:6])

('NPower', 'JDA', 'Tuesday', 30, 31, 2021)

In [5]:
#Q5 print the values in each index #Use negative indexing
print(myTuple[:-1])
print(myTuple[-1])

('NPower', 'JDA', 'Tuesday', 30, 31)
2021

In [6]:
#Q6 what is the type of each value
list(map(type,myTuple))

[str, str, str, int, int, int]

In [7]:
#Q7 unpack myTuple in the follwoeing variables name,program,dayName,month,day,year
# print the variables
(name,program,dayName,month,day,year) = myTuple

print(name)
print(program)
print(dayName)
print(month)
print(day)
print(year)

NPower
JDA
Tuesday
30
31
2021

In [8]:
#Q8 unpack myTuple2 in the follwoeing variables name,program,dayName.
# What will happen to variables (name,program,dayName) and (month,day,year)

In [9]:
# Note the following
Tuple1=("Jerry",2, 89) #This is a tuple with 3 elements
Tuple2=("Ulan",) #This is a tuple with 1 element
test = "Leul" #This is a VARIABLE with string value

a, b, c = Tuple1
print("Type a",type(a))
print(a,b,c)

d=Tuple2
print(type(d))
print(d)

e = test
print(e)

Type a <class 'str'>
Jerry 2 89
<class 'tuple'>
('Ulan',)
Leul

In [10]:
#Tuples are immutable
#we can always make the testTuple variable reference a new tuple in the memory
#and hold a different information

testTuple=(1,2,3)
print(testTuple)

testTuple=(4,5,6)
print(testTuple)

#But we can't change or edit a value for the existing tuple
testTuple[0]=6 #ERROR 'tuple' object does not support item assignment

(1, 2, 3)
(4, 5, 6)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Q9 Reverse myTuple, output should looks like (2021,31,30,"Tuesday","JDA","NPower")
print(myTuple)
myTuple[::-1]

('NPower', 'JDA', 'Tuesday', 30, 31, 2021)

(2021, 31, 30, 'Tuesday', 'JDA', 'NPower')

In [ ]:
#Q10 Create nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
T1 = ("Coursera","course",6)
T2 = (2,"Lists","Tuple")
T3 = ("week")

nestedTuple=(T1,(T3,T2))
nestedTuple

(('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))

In [ ]:
#Q11 What is the output of nestedTuple[1:2]
nestedTuple[1:2]

(('week', (2, 'Lists', 'Tuple')),)

In [ ]:
#Q12 print each element in the nestedTuple
nestedTuple

(('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))

In [ ]:
#Q13 Access (2,"Lists","Tuple") from nestedTuple
nestedTuple[1][1]

(2, 'Lists', 'Tuple')

In [ ]:
#Q14 Access the value "Lists" from nestedTuple
nestedTuple[1][1][1]

'Lists'

In [ ]:
#Q15 Access the value "Tuple" from nestedTuple
nestedTuple[1][1][2]

'Tuple'

In [ ]:
#Q16 Access the value "course" from nestedTuple
nestedTuple[0][1]

'course'

In [ ]:
#Q17 Concatenate myTuple with nestedTuple
myTuple = myTuple + nestedTuple
print(myTuple)

('NPower', 'JDA', 'Tuesday', 30, 31, 2021, ('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))

In [ ]:
#Q18 add your name to the tuple
Tuple_temp = (myTuple, 'Cheukie')
print(Tuple_temp)

(('NPower', 'JDA', 'Tuesday', 30, 31, 2021, ('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple'))), 'Cheukie')

In [ ]:
#Q19 check whether Coursera exists within myTuple
# NOTE "in" doesn't work properly with nested tuples

def search_nested_tuple(nested_tuple, itm):
 

    for element in nested_tuple:
        if type(element) == tuple:
            # If the element is a tuple, recursively call the function
            search_nested_tuple(element, itm)
        else:
            if (element == itm):
                global found
                found = True
                return
        
                
search_nested_tuple(myTuple, 'Coursera')

NPower
JDA
Tuesday
30
31
2021
('Coursera', 'course', 6)
Coursera
True

In [ ]:
#Q20 check whether 55 exists within testTuple
testTuple=(1,2,33,55,6,55)
found = False
for nums in testTuple:
    if nums == 55:
        found = True
        break;
print(found)

In [ ]:
#Q21 Find the index of JDA in myTuple
# Find the index of 'Coursera' in myTuple
# NOTE index doesn't work properly with nested tuples # Wrong output
print(myTuple)
myTuple.index('JDA')
#myTuple.index('Coursera')

In [ ]:
#Q22 print index 8 from myTuple
myTuple.index(8)

ValueError: tuple.index(x): x not in tuple

In [ ]:
#Q23 Get the 4th element from the begining of myTuple and 4th element from last 
print(myTuple)
print(myTuple[3])
print(myTuple[7][1][0])

('NPower', 'JDA', 'Tuesday', 30, 31, 2021, ('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))
30
2

In [ ]:
#Q24 Find how many times 55 appeared in testTuple [Hint: Use method count()]
testTuple.count(55)

2